version: "3.9"

services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: mlflow
      POSTGRES_PASSWORD: mlflow
      POSTGRES_DB: mlflow
      PGDATA: /var/lib/postgresql/18/docker
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "5436:5432"

  minio:
    image: minio/minio:latest
    command: server /data --console-address :9001
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio12345
    volumes:
      - miniodata:/data
    ports:
      - "9000:9000"
      - "9001:9001"

  minio_init:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      mc alias set local http://minio:9000 minio minio12345 &&
      mc mb -p local/mlflow || true &&
      mc mb -p local/dvc || true
      "

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.15.1
    depends_on:
      - postgres
      - minio
      - minio_init
    environment:
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: minio
      AWS_SECRET_ACCESS_KEY: minio12345
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri postgresql://mlflow:mlflow@postgres:5432/mlflow
      --default-artifact-root s3://mlflow/
    ports:
      - "5000:5000"

  api:
    build: .
    depends_on:
      - mlflow
    environment:
      MLFLOW_TRACKING_URI: http://mlflow:5000
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: minio
      AWS_SECRET_ACCESS_KEY: minio12345
    working_dir: /workspace
    volumes:
      - .:/workspace
    ports:
      - "8000:8000"
    command: >
      gunicorn app.main:app
      -k uvicorn.workers.UvicornWorker
      -b 0.0.0.0:8000
      -w 2

  ui:
    build: .
    depends_on:
      - api
    environment:
      API_BASE: http://api:8000
    working_dir: /workspace
    volumes:
      - .:/workspace
    ports:
      - "8501:8501"
    command: >
      streamlit run ui/streamlit_app.py
      --server.address 0.0.0.0
      --server.port 8501

volumes:
  pgdata:
  miniodata:
